# Dependencias principales para el frontend
PyQt6>=6.8.1
PyQt6-Qt6>=6.8.2
PyQt6_sip>=13.10.0
python-dotenv==1.0.0

# Utilidades y herramientas de desarrollo
black>=25.1.0  # Formateador de código
ruff>=0.9.6    # Linter
